.form__group input,
.form__group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #d2d3d5;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 0.9rem;
  color: #333435fa;
}

.form button {
  color: #01d293;
}
